![logo](1_bDwEvCRgrKVbLrAXEixpfA.png)
___

##### import libraries

In [ ]:
import pandas as pd
import numpy as np

# Step 2 - Preprocessing & Cleaning
    a) Importing 
    b) Changing data-types
            - Possible error
            - Numeric data
            - Binary data (i-iv)
            - Datetime data
    c) Regex formatting
            - Add 'genre'
            - Add 'subgenre'
    d) Filtering data

### a) Importing 
##### Use 'kickstarter_data.csv' to begin cleaning

In [129]:
#import .csv file
kickstarter_df = pd.read_csv("kickstarter_data.csv")

kickstarter_df.drop(['Unnamed: 0'], axis=1, inplace=True)

print(kickstarter_df.shape)
kickstarter_df.head(1)

(215858, 20)

,backers_count,blurb,category,converted_pledged_amount,country,created_at,currency,deadline,disable_communication,goal,id,is_starrable,launched_at,name,slug,source_url,spotlight,staff_pick,state,state_changed_at
0,31,Un livre enfant pour l’apprentissage des émoti...,"{""id"":46,""name"":""Children's Books"",""slug"":""pub...",709,FR,1561554849,EUR,1566744397,false,600,1458932991,false,1561560397,Louli à l’école,louli-a-lecole,https://www.kickstarter.com/discover/categorie...,true,false,successful,1566744397

##### Since the raw data was a combination of 57 .csv files, the header row was duplicated 57 times when merged into raw_kickstarter_df. These duplicated rows should be removed and remaining data stored in "cleaned_df"

In [130]:
#remove duplicated header rows (should expect 57 less rows)
cleaned_df = kickstarter_df[kickstarter_df['country'] != 'country']

#reset index for cleaned_df
cleaned_df.reset_index(drop=True, inplace=True)

#check datatypes
print(kickstarter_df.dtypes)
print(cleaned_df.shape)
cleaned_df.head(1)

backers_count               object
blurb                       object
category                    object
converted_pledged_amount    object
country                     object
created_at                  object
currency                    object
deadline                    object
disable_communication       object
goal                        object
id                          object
is_starrable                object
launched_at                 object
name                        object
slug                        object
source_url                  object
spotlight                   object
staff_pick                  object
state                       object
state_changed_at            object
dtype: object
(215801, 20)

,backers_count,blurb,category,converted_pledged_amount,country,created_at,currency,deadline,disable_communication,goal,id,is_starrable,launched_at,name,slug,source_url,spotlight,staff_pick,state,state_changed_at
0,31,Un livre enfant pour l’apprentissage des émoti...,"{""id"":46,""name"":""Children's Books"",""slug"":""pub...",709,FR,1561554849,EUR,1566744397,false,600,1458932991,false,1561560397,Louli à l’école,louli-a-lecole,https://www.kickstarter.com/discover/categorie...,true,false,successful,1566744397

### b) Changing data-types 
##### Possible error

In [131]:
#error was encountered for 'backers_count' - the following includes troubleshooting

                #cleaned_df['backers_count'] = cleaned_df['backers_count'].astype('int64')
                #ValueError: invalid literal for int() with base 10: '\x1a'

#find '\x1a'

ValueError = cleaned_df.loc[cleaned_df['backers_count'] == '\x1a']
ValueError

,backers_count,blurb,category,converted_pledged_amount,country,created_at,currency,deadline,disable_communication,goal,id,is_starrable,launched_at,name,slug,source_url,spotlight,staff_pick,state,state_changed_at
215800,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
#seems like the last row of our original dataset had some corrupt data
#remove last row

cleaned_df.drop(cleaned_df.index[-1], inplace = True)
cleaned_df.tail(2)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,backers_count,blurb,category,converted_pledged_amount,country,created_at,currency,deadline,disable_communication,goal,id,is_starrable,launched_at,name,slug,source_url,spotlight,staff_pick,state,state_changed_at
215798,0,Looking to expand my pumpkin roll sales to a m...,"{""id"":311,""name"":""Food Trucks"",""slug"":""food/fo...",0.0,US,1404858909.0,USD,1409524500.0,False,20000.0,1520160677.0,False,1405972895.0,The Pumpkin Roll Express/Mean Bean Cafe Express,the-pumpkin-roll-express-mean-bean-cafe-express,https://www.kickstarter.com/discover/categorie...,False,False,failed,1409524500.0
215799,6,All-electric mobile farm stand for transportin...,"{""id"":310,""name"":""Farmer's Markets"",""slug"":""fo...",260.0,US,1370700777.0,USD,1428513606.0,False,19000.0,1022627018.0,False,1425921606.0,ECO-FRIENDLY MOBILE FARM STAND FOR URBAN FOOD ...,eco-friendly-mobile-farm-stand-for-urban-food-...,https://www.kickstarter.com/discover/categorie...,False,False,failed,1428513608.0

##### Numeric data

In [133]:
#change numeric data to int/float types
cleaned_df.loc[:, 'backers_count'] = cleaned_df.loc[: , 'backers_count'].astype('float64').astype('int64')
cleaned_df.loc[:, 'converted_pledged_amount'] = cleaned_df.loc[:, 'converted_pledged_amount'].astype('float64').astype('int64')
cleaned_df.loc[:, 'goal'] = cleaned_df.loc[:, 'goal'].astype('float64').astype('int64')
cleaned_df.loc[:, 'id'] = cleaned_df.loc[:, 'id'].astype('float64').astype('int64')

print(cleaned_df.dtypes)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:630: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

backers_count                int64
blurb                       object
category                    object
converted_pledged_amount     int64
country                     object
created_at                  object
currency                    object
deadline                    object
disable_communication       object
goal                         int64
id                           int64
is_starrable                object
launched_at                 object
name                        object
slug                        object
source_url                  object
spotlight                   object
staff_pick                  object
state                       object
state_changed_at            object
dtype: object

##### Binary data (i-iv)
    - multiple spellings of True/False exist

##### i) 'disable_communication' column

In [134]:
print(cleaned_df.disable_communication.unique())
print('\n')
print('# of False')
print(cleaned_df.loc[cleaned_df['disable_communication']=='False','disable_communication'].agg(['count']))
print('# of false')
print(cleaned_df.loc[cleaned_df['disable_communication']=='false','disable_communication'].agg(['count']))
print('# of True')
print(cleaned_df.loc[cleaned_df['disable_communication']=='True','disable_communication'].agg(['count']))
print('# of true')
print(cleaned_df.loc[cleaned_df['disable_communication']=='true','disable_communication'].agg(['count']))

['false' 'true' 'False' 'True']


# of False
count    2860
Name: disable_communication, dtype: int64
# of false
count    212292
Name: disable_communication, dtype: int64
# of True
count    5
Name: disable_communication, dtype: int64
# of true
count    643
Name: disable_communication, dtype: int64

In [135]:
#replace True/true & False/false with 1 & 0

cleaned_df.disable_communication.replace(['True', 'False'], [1, 0], inplace=True)
cleaned_df.disable_communication.replace(['true', 'false'], [1, 0], inplace=True)

#check unique counts again (count of 1 should == 648)

print('# of true')
print(cleaned_df.loc[cleaned_df['disable_communication']==1,'disable_communication'].agg(['count']))

# of true
count    648
Name: disable_communication, dtype: int64

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

##### ii) 'starrable' column

In [136]:
print(cleaned_df.is_starrable.unique())
print('\n')
print('# of False')
print(cleaned_df.loc[cleaned_df['is_starrable']=='False','is_starrable'].agg(['count']))
print('# of false')
print(cleaned_df.loc[cleaned_df['is_starrable']=='false','is_starrable'].agg(['count']))
print('# of True')
print(cleaned_df.loc[cleaned_df['is_starrable']=='True','is_starrable'].agg(['count']))
print('# of true')
print(cleaned_df.loc[cleaned_df['is_starrable']=='true','is_starrable'].agg(['count']))

['false' 'true' 'False' 'True']


# of False
count    2796
Name: is_starrable, dtype: int64
# of false
count    207449
Name: is_starrable, dtype: int64
# of True
count    69
Name: is_starrable, dtype: int64
# of true
count    5486
Name: is_starrable, dtype: int64

In [137]:
#replace True/true & False/false with 1 & 0

cleaned_df.is_starrable.replace(['True', 'False'], [1, 0], inplace=True)
cleaned_df.is_starrable.replace(['true', 'false'], [1, 0], inplace=True)

#check unique counts again (count of 1 should == 5555)

print('# of true')
print(cleaned_df.loc[cleaned_df['is_starrable']==1,'is_starrable'].agg(['count']))

# of true
count    5555
Name: is_starrable, dtype: int64

##### iii) 'spotlight' column

In [138]:
#evaluate 'spotlight' column
#multiple spellings of True/False exist

print(cleaned_df.spotlight.unique())
print('\n')
print('# of False')
print(cleaned_df.loc[cleaned_df['spotlight']=='False','spotlight'].agg(['count']))
print('# of false')
print(cleaned_df.loc[cleaned_df['spotlight']=='false','spotlight'].agg(['count']))
print('# of True')
print(cleaned_df.loc[cleaned_df['spotlight']=='True','spotlight'].agg(['count']))
print('# of true')
print(cleaned_df.loc[cleaned_df['spotlight']=='true','spotlight'].agg(['count']))

['true' 'false' 'True' 'False']


# of False
count    1210
Name: spotlight, dtype: int64
# of false
count    90318
Name: spotlight, dtype: int64
# of True
count    1655
Name: spotlight, dtype: int64
# of true
count    122617
Name: spotlight, dtype: int64

In [139]:
#replace True/true & False/false with 1 & 0

cleaned_df.spotlight.replace(['True', 'False'], [1, 0], inplace=True)
cleaned_df.spotlight.replace(['true', 'false'], [1, 0], inplace=True)

#check unique counts again (count of 1 should == 124272)

print('# of true')
print(cleaned_df.loc[cleaned_df['spotlight']==1,'spotlight'].agg(['count']))

# of true
count    124272
Name: spotlight, dtype: int64

##### iv) 'staff_pick' column

In [140]:
#evaluate 'staff_pick' column
#multiple spellings of True/False exist

print(cleaned_df.staff_pick.unique())
print('\n')
print('# of False')
print(cleaned_df.loc[cleaned_df['staff_pick']=='False','staff_pick'].agg(['count']))
print('# of false')
print(cleaned_df.loc[cleaned_df['staff_pick']=='false','staff_pick'].agg(['count']))
print('# of True')
print(cleaned_df.loc[cleaned_df['staff_pick']=='True','staff_pick'].agg(['count']))
print('# of true')
print(cleaned_df.loc[cleaned_df['staff_pick']=='true','staff_pick'].agg(['count']))

['false' 'true' 'False' 'True']


# of False
count    2456
Name: staff_pick, dtype: int64
# of false
count    185411
Name: staff_pick, dtype: int64
# of True
count    409
Name: staff_pick, dtype: int64
# of true
count    27524
Name: staff_pick, dtype: int64

In [141]:
#replace True/true & False/false with 1 & 0

cleaned_df.staff_pick.replace(['True', 'False'], [1, 0], inplace=True)
cleaned_df.staff_pick.replace(['true', 'false'], [1, 0], inplace=True)

#check unique counts again (count of 1 should == 27933)

print('# of true')
print(cleaned_df.loc[cleaned_df['staff_pick']==1,'staff_pick'].agg(['count']))

# of true
count    27933
Name: staff_pick, dtype: int64

##### Check data-types

In [142]:
print(cleaned_df.dtypes)
cleaned_df.head(1)

backers_count                int64
blurb                       object
category                    object
converted_pledged_amount     int64
country                     object
created_at                  object
currency                    object
deadline                    object
disable_communication        int64
goal                         int64
id                           int64
is_starrable                 int64
launched_at                 object
name                        object
slug                        object
source_url                  object
spotlight                    int64
staff_pick                   int64
state                       object
state_changed_at            object
dtype: object

,backers_count,blurb,category,converted_pledged_amount,country,created_at,currency,deadline,disable_communication,goal,id,is_starrable,launched_at,name,slug,source_url,spotlight,staff_pick,state,state_changed_at
0,31,Un livre enfant pour l’apprentissage des émoti...,"{""id"":46,""name"":""Children's Books"",""slug"":""pub...",709,FR,1561554849,EUR,1566744397,0,600,1458932991,0,1561560397,Louli à l’école,louli-a-lecole,https://www.kickstarter.com/discover/categorie...,1,0,successful,1566744397

##### Datetime data

In [143]:
#convert unix-epoch columns to integer first

cleaned_df.loc[:, 'created_at'] = cleaned_df.loc[:, 'created_at'].astype('float64').astype('int64')
cleaned_df.loc[:, 'deadline'] = cleaned_df.loc[:, 'deadline'].astype('float64').astype('int64')
cleaned_df.loc[:, 'launched_at'] = cleaned_df.loc[:, 'launched_at'].astype('float64').astype('int64')
cleaned_df.loc[:, 'state_changed_at'] = cleaned_df.loc[:, 'state_changed_at'].astype('float64').astype('int64')

In [144]:
#cleaned_df.created_at = pd.to_datetime(cleaned_df.created_at, unit='s')

cleaned_df.loc[:, 'created_at'] = pd.to_datetime(cleaned_df.loc[:, 'created_at'],unit='s')
cleaned_df.loc[:, 'deadline'] = pd.to_datetime(cleaned_df.loc[:, 'deadline'],unit='s')
cleaned_df.loc[:, 'launched_at'] = pd.to_datetime(cleaned_df.loc[:, 'launched_at'],unit='s')
cleaned_df.loc[:, 'state_changed_at'] = pd.to_datetime(cleaned_df.loc[:, 'state_changed_at'],unit='s')

print(cleaned_df.dtypes)

backers_count                        int64
blurb                               object
category                            object
converted_pledged_amount             int64
country                             object
created_at                  datetime64[ns]
currency                            object
deadline                    datetime64[ns]
disable_communication                int64
goal                                 int64
id                                   int64
is_starrable                         int64
launched_at                 datetime64[ns]
name                                object
slug                                object
source_url                          object
spotlight                            int64
staff_pick                           int64
state                               object
state_changed_at            datetime64[ns]
dtype: object

### c) Regex formatting

In [145]:
#print 'category' column, first row
print(cleaned_df.loc[0,'source_url'])

#print 'category' column, first row
print('\n')
print(cleaned_df.loc[0,'category'])

https://www.kickstarter.com/discover/categories/publishing


{"id":46,"name":"Children's Books","slug":"publishing/children's books","position":5,"parent_id":18,"color":14867664,"urls":{"web":{"discover":"http://www.kickstarter.com/discover/categories/publishing/children's%20books"}}}

In [146]:
#use regex to extract category genres from 'category' column and store in a new column 'subgenre'
cleaned_df['genre'] = cleaned_df.loc[:,'category'].str.extract(pat = '\"name\"\:\"([^\"]+?)\"')

#use regex to extract category genres from 'category' column and store in a new column 'genre'
cleaned_df['subgenre'] = cleaned_df.loc[:,'source_url'].str.extract(pat = '\/categories\/([^\/]+)')

#new subgenre column has irregular formatting (film%20&%20video)
cleaned_df.loc[:,'subgenre'].head(11)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

0           publishing
1               comics
2           technology
3               comics
4           publishing
5     film%20&%20video
6               design
7           technology
8               comics
9     film%20&%20video
10          publishing
Name: subgenre, dtype: object

In [147]:
#search and replace film and video 'subgenre' column
cleaned_df['subgenre'].replace(['film%20&%20video'], 'film',inplace=True)

### d) Filtering data

In [148]:
#drop column for redundancy
cleaned_df.drop(['state_changed_at'], axis=1, inplace=True)


#re-order columns in dataframe
cleaned_df = cleaned_df[['id',
                         'name',
                         'genre',
                         'subgenre',
                         'category',
                         'source_url',
                         'blurb',
                         'slug',
                         'goal',
                         'converted_pledged_amount',
                         'created_at',
                         'launched_at',
                         'deadline',
                         'country',
                         'currency',
                         'backers_count',
                         'disable_communication',
                         'is_starrable',
                         'spotlight',
                         'staff_pick',
                         'state']]

cleaned_df.head(1)

,id,name,genre,subgenre,category,source_url,blurb,slug,goal,converted_pledged_amount,...,launched_at,deadline,country,currency,backers_count,disable_communication,is_starrable,spotlight,staff_pick,state
0,1458932991,Louli à l’école,Children's Books,publishing,"{""id"":46,""name"":""Children's Books"",""slug"":""pub...",https://www.kickstarter.com/discover/categorie...,Un livre enfant pour l’apprentissage des émoti...,louli-a-lecole,600,709,...,2019-06-26 14:46:37,2019-08-25 14:46:37,FR,EUR,31,0,0,1,0,successful

In [149]:
#find unique values for countries
print('Countries')
print(cleaned_df.country.unique())

Countries
['FR' 'US' 'GB' 'AU' 'ES' 'CA' 'IT' 'NL' 'MX' 'DE' 'HK' 'IE' 'BE' 'LU'
 'SG' 'SE' 'JP' 'NZ' 'CH' 'DK' 'NO' 'AT']

In [150]:
#filter for english speaking countries
cleaned_df = cleaned_df.loc[cleaned_df['country'].isin(['US','CA'])]

#filter for successful/failed campaigns
cleaned_df = cleaned_df.loc[cleaned_df['state'].isin(['successful','failed'])]
print(cleaned_df.shape)

#reset index for cleaned_df
cleaned_df.reset_index(drop=True,inplace=True)

cleaned_df.head()

(149564, 21)

,id,name,genre,subgenre,category,source_url,blurb,slug,goal,converted_pledged_amount,...,launched_at,deadline,country,currency,backers_count,disable_communication,is_starrable,spotlight,staff_pick,state
0,498799566,"Strange Wit, an original graphic novel about J...",Graphic Novels,comics,"{""id"":252,""name"":""Graphic Novels"",""slug"":""comi...",https://www.kickstarter.com/discover/categorie...,"The true biography of the historical figure, w...",strange-wit-an-original-graphic-novel-about-ja...,12000,14740,...,2015-08-15 04:19:27,2015-09-14 04:19:27,US,USD,403,0,0,1,1,successful
1,621087138,"Destiny, NY - FINAL HOURS!",Graphic Novels,comics,"{""id"":252,""name"":""Graphic Novels"",""slug"":""comi...",https://www.kickstarter.com/discover/categorie...,A graphic novel about two magical ladies in love.,destiny-ny-a-graphic-novel,20000,21799,...,2016-10-04 07:22:10,2016-11-03 00:00:00,US,USD,406,0,0,1,1,successful
2,1760442719,Publishing Magus Magazine,Periodicals,publishing,"{""id"":49,""name"":""Periodicals"",""slug"":""publishi...",https://www.kickstarter.com/discover/categorie...,We are publishing a magazine that focuses on t...,publishing-magus-magazine,5000,10,...,2011-09-04 17:04:28,2011-10-04 17:04:28,US,USD,1,0,0,0,0,failed
3,1526833653,Living Life Tiny,Architecture,design,"{""id"":258,""name"":""Architecture"",""slug"":""design...",https://www.kickstarter.com/discover/categorie...,Educating my community about self-sufficiency ...,living-life-tiny,500,577,...,2015-02-09 21:20:32,2015-03-11 20:20:32,US,USD,13,0,0,1,0,successful
4,1745759340,GP Live,Apps,technology,"{""id"":332,""name"":""Apps"",""slug"":""technology/app...",https://www.kickstarter.com/discover/categorie...,Rewarding you for all of the things you do and...,gp-live,30000,82,...,2019-08-11 21:56:19,2019-09-10 21:56:19,US,USD,5,0,0,0,0,failed

### End of Step 2

In [151]:
#write cleaned_df to a .csv
cleaned_df.to_csv('cleaned_data.csv')